*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    color: rgb(248, 187, 3);
    font-size: 20px;
    font-weight:bolder;
}
.navbar-brand:hover{
    color:rgb(248, 187, 3);
}
.navbar-nav li a{
    color: black;
    font-weight: 500;
}
.navbar-nav li a:hover{
    color:rgb(248, 187, 3);
}
.home-secson{
    align-items: center;
}
.home-text h1{
    font-size: 50px;
    font-weight: 700;
}
.home-text p{
    text-align: justify;
    font-weight: 500;
}
.navbar-nav .nav-item{
    text-align: right;
}








.about-sech{
    align-items: center;
    margin-top: 110px;
    margin-bottom: 200px;
}
.about-text h1{
    font-weight: bolder;
}
.about-text p{
    text-align: justify;
}







.my-skills{
    margin-top: 150px;
    margin-bottom: 100px;
}
.my-skills h1{
    text-align: center;
}
.my-skills p{
    text-align: center;
}

.progress-bar{
    
}











.inputur{
    width:100%;
}
@media only screen and (max-width:575.9px){
    .home-imgs img{
        align-items: center;
    }
    .inputur{
        width:100%;
    }
}
@media only screen and (min-width:576px) and (max-width:767.9px){
    .home-imgs img{
        align-items: center;
    }
    .inputur{
        width:100%;
    }
}
