*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(221, 3, 3); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(248, 187, 3); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(248, 187, 3); 
  }


















.navbar-brand{
    color: rgb(248, 187, 3);
    font-size: 20px;
    font-weight:bolder;
}
.navbar-brand:hover{
    color:rgb(248, 187, 3);
}
.navbar-nav li a{
    color: black;
    font-weight: 500;
}
.navbar-nav li a:hover{
    color:rgb(248, 187, 3);
}
.home-secson{
    align-items: center;
}
.home-text h1{
    font-size: 50px;
    font-weight: 700;
}
.home-text p{
    text-align: justify;
    font-weight: 500;
}
.navbar-nav .nav-item{
    text-align: right;
}








.about-sech{
    align-items: center;
    margin-top: 110px;
    margin-bottom: 200px;
}
.about-text h1{
    font-weight: bolder;
}
.about-text p{
    text-align: justify;
}







.my-skills{
    margin-top: 150px;
    margin-bottom: 100px;
}
.my-skills h1{
    text-align: center;
}
.my-skills p{
    text-align: center;
}

.progress-bar{
    
}


.heading-services{
    text-align: center;
    font-size: 50px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}
.box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}
.box-container .box img{
    height: 80px;
}
.box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}
.box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}
.box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.box-container .box .btn:hover{
    letter-spacing: 1px;
}
.box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .our-sercicesto{
        padding:20px;
    }
}








.inputur{
    width: 100%;
}



@media only screen and (max-width:575.9px){
    .home-imgs img{
        align-items: center;
    }
}
@media only screen and (min-width:576px) and (max-width:767.9px){
    .home-imgs img{
        align-items: center;
    }
}
